<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Tobias Geiger. It uses data from mapbox.com and weatherstack.com!</p>
            <img src="/img/robot.png" class="portrait">
        </div>
        

        {{>footer}}
    </body>
</html>